<launch>

<!-- add a new line for each new drone with the incremental robot_id. -->
  <param name="cf1" command="$(find xacro)/xacro $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=1" />
  <param name="cf2" command="$(find xacro)/xacro $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=2" />
  <param name="cf3" command="$(find xacro)/xacro $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=3" />
  <param name="cf4" command="$(find xacro)/xacro $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=4" />
  <param name="cf5" command="$(find xacro)/xacro $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=5" />

  <!-- Vehicle Parameters -->
  <rosparam file="$(find multi_uav_simulator)/config/config.yaml"/>
  <param name="frame/prefix" value="/base_link"/>
  <param name="frame/fixed" value="map"/>

  <!-- specifies the frequency that the internal stabilization controller should run -->
  <arg name="controller_frequency" default="100"/>

  <!-- specifies the rosconsole log configuration file -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find multi_uav_simulator)/config/custom_rosconsole.conf"/>

 <group ns="robot_1">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen" args="1 $(arg controller_frequency)">
      <remap from="robot_1/drone" to="drone"/>
    </node>
  </group>

  <group ns="robot_2">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen" args="2 $(arg controller_frequency)">
      <remap from="robot_2/drone" to="drone"/>
    </node>
  </group>

  <group ns="robot_3">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen" args="3 $(arg controller_frequency)">
      <remap from="robot_3/drone" to="drone"/>
    </node>
  </group>

    <group ns="robot_4">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen" args="4 $(arg controller_frequency)">
      <remap from="robot_4/drone" to="drone"/>
    </node>
  </group>

  <group ns="robot_5">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen" args="5 $(arg controller_frequency)">
      <remap from="robot_4/drone" to="drone"/>
    </node>
  </group>

  <!-- runs an rviz node for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find multi_uav_simulator)/config/simulation.rviz"/>


  />

</launch>