<launch>
<!-- set the number of drones you want to simulate -->
  <param name="count" value="5"/>

<!-- add a new line for each new drone with the incremental robot_id. -->
  <param name="cf1" command="$(find xacro)/xacro --inorder $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=1" />
  <param name="cf2" command="$(find xacro)/xacro --inorder $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=2" />
  <param name="cf3" command="$(find xacro)/xacro --inorder $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=3" />
  <param name="cf4" command="$(find xacro)/xacro --inorder $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=4" />
  <param name="cf5" command="$(find xacro)/xacro --inorder $(find multi_uav_simulator)/cf_description/crazyflie.urdf.xacro robot_id:=5" />

  <!-- Vehicle Parameters -->
  <rosparam file="$(find multi_uav_simulator)/config/config.yaml"/>
  <param name="frame/prefix" value="/base_link"/>
  <param name="frame/fixed" value="map"/>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find multi_uav_simulator)/config/custom_rosconsole.conf"/>
  <node name="multi_uav_simulator" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find multi_uav_simulator)/config/simulation.rviz"/>
  />

</launch>


