<launch>

<!--  <param name="count" value="1"/>-->
  <param name="cf1" command="$(find xacro)/xacro.py $(find multi_uav_simulator)/cf_description/urdf/cf1.urdf.xacro" />
  <param name="cf2" command="$(find xacro)/xacro.py $(find multi_uav_simulator)/cf_description/urdf/cf2.urdf.xacro" />
  <param name="cf3" command="$(find xacro)/xacro.py $(find multi_uav_simulator)/cf_description/urdf/cf3.urdf.xacro" />
  <param name="cf4" command="$(find xacro)/xacro.py $(find multi_uav_simulator)/cf_description/urdf/cf4.urdf.xacro" />

  <!-- Vehicle Parameters -->
  <rosparam file="$(find multi_uav_simulator)/config/cf_config.yaml"/>
  <param name="frame/fixed" value="map"/>


  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find multi_uav_simulator)/config/custom_rosconsole.conf"/>

  <group ns="robot_1">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen">
      <param name="robot_id" value="1"/>
      <param name="frame/prefix" value="/base_link"/>
      <remap from="robot_1/drone" to="drone"/>
    </node>
  </group>

  <group ns="robot_2">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen">
      <param name="robot_id" value="2"/>
      <param name="frame/prefix" value="/base_link"/>
      <remap from="robot_2/drone" to="drone"/>
    </node>
  </group>

  <group ns="robot_3">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen">
      <param name="robot_id" value="3"/>
      <param name="frame/prefix" value="/base_link"/>
      <remap from="robot_3/drone" to="drone"/>
    </node>
  </group>

  <group ns="robot_4">
    <node name="drone" pkg="multi_uav_simulator" type="multi_uav_simulator" output="screen">
      <param name="robot_id" value="4"/>
      <param name="frame/prefix" value="/base_link"/>
      <remap from="robot_4/drone" to="drone"/>
    </node>
  </group>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find multi_uav_simulator)/config/simulation.rviz"/>

</launch>


